#live{
	background-color :#BB0000;
	height : 28px;
	
	
}
 #clipLink{
 	font-size: 18px;
	font-weight: bold;
 	font-family:Arial Narrow;
 	color : white;
 	
 }
 #tablecss{
	background-color :#B0000;
	width : 156px;
	margin-top:3px;
	
 }
 #error{
 	color : #BB0000;
 	font-size : 1.1em;
 	text-align : center;
 	font-weight: bold; 	
 }
 
 #continuelink{
 	color:white;
 	font-size:11px;
 	float: right;  	
 	text-decoration: none;
 	/*border-color:#3797CE;
	border-style:solid;
	border-width:1px 0px;*/
 }